SECRET_KEY=production_secret_key_here
DEBUG=False
ALLOWED_HOSTS=conevent.uteq.edu.mx

# Database URL
DATABASE_URL=postgres://user:password@db_host:5432/db_name

# SMTP Email configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=equipo.soporte.oasis@gmail.com
EMAIL_HOST_PASSWORD=production_gmail_app_password
DEFAULT_FROM_EMAIL=equipo.soporte.oasis@gmail.com

# Event-specific codes
CODIGO_REGISTRO_EVALUADOR=2011
CODIGO_EVALUACION_EXTERNA=1407
